<div>
    <div class="section location-section">
        <div class="container nomapping">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div id="exTab2" class="container text-center">
                                <h4>We are using <a href="https://stripe.com/">STRIPE</a> for payment process. They are one of the best company that provide payment process service.</h4>
                                <h4>Please create a STRIPE account, so that the money will be transfer directly to your bank account</h4>
                                <div class="row">
                                    <a href=""><img src="/assets/blue-on-light.png" alt=""></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    descriptor: BECONVE
    :destination => Braintree::MerchantAccount::FundingDestination::Bank,
    master_merchant_account_id: Beconve ID
-->