<div>
    <div class="section location-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div id="exTab2" class="container text-center">
                                <div class="col-md-offset-3 col-md-6">
                                    <div class="add-margin"></div>
                                    <h1>Business Hours</h1>

                                    <form name="updateBusinessHours" novalidate>
                                        <div class="col-md-6">
                                            <label>Monday</label><br>
                                            <label>Open</label>
                                            <select  name="mondayOpen" ng-model="timeSlots.mondayOpen" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Close</label>
                                            <select  name="mondayClose" ng-model="timeSlots.mondayClose" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Accept Appointment</label>
                                            <span>
                                                Yes
                                                <input type="radio" name="mondayAppointment" ng-model="timeSlots.mondayAppointment" value="yes">
                                            </span>

                                            <span>
                                                No
                                                <input type="radio" name="mondayAppointment" ng-model="timeSlots.mondayAppointment" value="no">
                                            </span>

                                            <hr>

                                            <label>Tuesday</label><br>

                                            <label>Open</label>
                                            <select  name="tuesdayOpen" ng-model="timeSlots.tuesdayOpen" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Close</label>
                                            <select  name="tuesdayClose" ng-model="timeSlots.tuesdayClose" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Accept Appointment</label>
                                            <span>
                                                Yes
                                                <input type="radio" name="tuesdayAppointment" ng-model="timeSlots.tuesdayAppointment" value="yes">
                                            </span>

                                            <span>
                                                No
                                                <input type="radio" name="tuesdayAppointment" ng-model="timeSlots.tuesdayAppointment" value="no">
                                            </span>

                                            <hr>

                                            <label>Wednesday</label><br>

                                            <label>Open</label>
                                            <select  name="wednesdayOpen" ng-model="timeSlots.wednesdayOpen" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Close</label>
                                            <select  name="wednesdayClose" ng-model="timeSlots.wednesdayClose" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Accept Appointment</label>
                                            <span>
                                                Yes
                                                <input type="radio" name="wednesdayAppointment" ng-model="timeSlots.wednesdayAppointment" value="yes">
                                            </span>

                                            <span>
                                                No
                                                <input type="radio" name="wednesdayAppointment" ng-model="timeSlots.wednesdayAppointment" value="no">
                                            </span>

                                            <hr>

                                            <label>Thursday</label><br>

                                            <label>Open</label>
                                            <select  name="thursdayOpen" ng-model="timeSlots.thursdayOpen" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Close</label>
                                            <select  name="thursdayClose" ng-model="timeSlots.thursdayClose" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Accept Appointment</label>
                                            <span>
                                                Yes
                                                <input type="radio" name="thursdayAppointment" ng-model="timeSlots.thursdayAppointment" value="yes">
                                            </span>

                                            <span>
                                                No
                                                <input type="radio" name="thursdayAppointment" ng-model="timeSlots.thursdayAppointment" value="no">
                                            </span>
                                        </div>


                                        <div class="col-md-6">
                                            <label>Friday</label><br>

                                            <label>Open</label>
                                            <select  name="fridayOpen" ng-model="timeSlots.fridayOpen" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Close</label>
                                            <select  name="fridayClose" ng-model="timeSlots.fridayClose" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Accept Appointment</label>
                                            <span>
                                                Yes
                                                <input type="radio" name="fridayAppointment" ng-model="timeSlots.fridayAppointment" value="yes">
                                            </span>

                                            <span>
                                                No
                                                <input type="radio" name="fridayAppointment" ng-model="timeSlots.fridayAppointment" value="no">
                                            </span>

                                            <hr>

                                            <label>Saturday</label><br>
                                            <label>Open</label>
                                            <select  name="saturdayOpen" ng-model="timeSlots.saturdayOpen" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Close</label>
                                            <select  name="saturdayClose" ng-model="timeSlots.saturdayClose" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Accept Appointment</label>
                                            <span>
                                                Yes
                                                <input type="radio" name="saturdayAppointment" ng-model="timeSlots.saturdayAppointment" value="yes">
                                            </span>

                                            <span>
                                                No
                                                <input type="radio" name="saturdayAppointment" ng-model="timeSlots.saturdayAppointment" value="no">
                                            </span>

                                            <hr>

                                            <label>Sunday</label><br>

                                            <label>Open</label>
                                            <select  name="sundayOpen" ng-model="timeSlots.sundayOpen" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Close</label>
                                            <select  name="sundayClose" ng-model="timeSlots.sundayClose" required
                                                     ng-options="c for c in timeSlots" >
                                                <option value=""> Select Time</option>
                                            </select>
                                            <div role="alert">
                                                <span class="error" ng-show="updateBusinessHours.input.$error.required">Required!</span>
                                                <span class="error" ng-show="updateBusinessHours.input.$error.time">Not a valid date!</span>
                                            </div>

                                            <label>Accept Appointment</label>
                                            <span>
                                                Yes
                                                <input type="radio" name="sundayAppointment" ng-model="sundayAppointment" value="yes">
                                            </span>

                                            <span>
                                                No
                                                <input type="radio" name="sundayAppointment" ng-model="sundayAppointment" value="no">
                                            </span>
                                        </div>

                                        <div class="col-md-12" style="margin: 1em 0 1em 0">
                                            <button type="submit" class="btn btn-success btn-lg" ng-click="saveHours()">Save Hours</button>
                                        </div>
                                    </form>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
