<div>
    <div class="section location-section">
        <h1 class="text-center">Complete Your Request</h1><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="col-md-3">
                        <label>Location</label>
                        <p class="request-flow">{{ order.location }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>Device</label>
                        <p class="request-flow">{{ order.model }} - {{ order.color }} - {{ order.issue }} - ${{ order.price }}</p>
                    </div>

                    <div class="col-md-3">
                        <label>Complete</label><br>
                        <button
                                class="btn btn-success btn-lg"
                                confirmed-click="actionOnRequest('complete')"
                                ng-confirm-click="Are you sure ?"
                                ng-hide="info_message">Complete
                        </button>
                    </div>

                    <div class="col-md-3">
                        <label>Cancel</label><br>
                        <button
                                class="btn btn-danger btn-lg"
                                confirmed-click="actionOnRequest('cancel')"
                                ng-confirm-click="Are you sure ?"
                                ng-hide="info_message">Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
