<div>
    <div class="section location-section">
        <h1 class="text-center">Complete Your Request</h1><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <p class="alert alert-success" ng-show="info_message">{{ info_message }}</p>
                    <p class="alert alert-danger" ng-show="alert">{{ alert }}</p>

                    <div class="col-md-3">
                        <label>Location</label>
                        <p class="request-flow">{{ order.location }}</p>
                    </div>
                    <div class="col-md-3">
                        <label>Device</label>
                        <p class="request-flow">{{ order.model }} - {{ order.color }} - {{ order.issue }} - ${{ order.price }}</p>
                    </div>

                    <div class="col-md-3">
                        <label>Complete</label><br>
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#complete" ng-hide="info_message">
                            Complete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="complete" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Complete</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Please click approve button to approve the request</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="actionOnRequest('completed')">Complete</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Cancel</label><br>
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#cancel" ng-hide="info_message">
                            Cancel
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="cancel" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Cancel</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Please click approve button to approve the request</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="actionOnRequest('cancel')">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
