<div>
    <div class="section location-section">
        <div class="container nomapping">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <form name="myForm">
                                                <div class="col-xs-4 text-center">
                                                    <label>IPHONE
                                                        <input type="checkbox" class="box-check" ng-model="checkboxModel.iphone">
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <label>IPAD
                                                        <input type="checkbox" class="box-check" ng-model="checkboxModel.ipad">
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <label>SAMSUNG
                                                        <input type="checkbox" class="box-check" ng-model="checkboxModel.samsung">
                                                    </label>
                                                </div>

                                            </form>

                                            <div ng-show="checkboxModel.iphone">

                                                <div class="tab-pane active" id="bank">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <br>

                                                            <!--IPHONE-->

                                                            <div class="col-md-3 text-center">
                                                                <h1>Broken Screen</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                        <div ng-repeat="model in iphoneScreens">
                                                                            <div class="form-group f-spacing">
                                                                                <label class="form-span-color">{{ model.name }}</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       id="work-flow-location"
                                                                                       placeholder="110"
                                                                                       ng-model="model.price"
                                                                                       required>
                                                                            </div>
                                                                        </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="brokenScreenPriceForm.$valid && iphoneBrokenScreenSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Faulty Battery</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in iphoneBatteries">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="iphoneFaultyBatterySubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Won't Turn on</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in iphoneNotOns">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="iphoneNotTurnOnSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Liquid Damge</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in iphoneLiquids">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="iphoneLiquidDamageSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--IPAD -->

                                            <div ng-show="checkboxModel.ipad">

                                                <div class="tab-pane active" id="bank">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <br>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Broken Screen</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in ipadScreens">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="ipadBrokenScreenSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Faulty Battery</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in ipadBatteries">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="ipadFaultyBatterySubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Won't Turn on</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in ipadNotOns">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="ipadNotTurnOnSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Liquid Damge</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in ipadLiquids">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="ipadLiquidDamageSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--SAMSUNG-->

                                            <div ng-show="checkboxModel.samsung">
                                                <div class="tab-pane active" id="bank">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <br>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Broken Screen</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in samsungScreens">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="samsungBrokenScreenSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Faulty Battery</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in samsungBatteries">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="samsungFaultyBatterySubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Won't Turn on</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in samsungNotOns">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="samsungNotTurnOnSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>

                                                            <div class="col-md-3 text-center">
                                                                <h1>Liquid Damge</h1>
                                                                <form name="brokenScreenPriceForm">

                                                                    <div ng-repeat="model in samsungLiquids">
                                                                        <div class="form-group f-spacing">
                                                                            <label class="form-span-color">{{ model.name }}</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   id="work-flow-location"
                                                                                   placeholder="110"
                                                                                   ng-model="model.price"
                                                                                   required>
                                                                        </div>
                                                                    </div>

                                                                    <div>
                                                                        <button type="submit" class="btn btn-danger btn-lg" ng-click="samsungLiquidDamageSubmit()">Save price</button>

                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>