<div>
    <div class="section location-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <form>

                        <div class="form-group">
                            <label class="radio-inline"><input type="radio" name="issue" value="broken screen" ng-model="issue" ng-change='newIssue(issue)'>Broken Screen</label>
                            <label class="radio-inline"><input type="radio" name="issue" value="faulty battery" ng-model="issue" ng-change='newIssue(issue)'>Faulty Battery</label>
                            <label class="radio-inline"><input type="radio" name="issue" value="not on" ng-model="issue" ng-change='newIssue(issue)'>Won't Turn On</label>
                            <label class="radio-inline"><input type="radio" name="issue" value="liquid damage" ng-model="issue" ng-change='newIssue(issue)'>Liquid Damage</label>
                        </div>
                        <div ng-show="loading"><img src="/assets/ajax-loader.gif" alt="edit" /></div>
                    </form>
                    <div class="tab-pane active" id="bank">
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <p class="alert alert-success" ng-show="info_message">{{ info_message }}</p>
                                <p class="alert alert-danger" ng-show="error">{{ error }}</p>
                                <!--IPHONE-->
                                <div class="text-center" ng-show="issue == 'broken screen'">
                                    <h1>SAMSUNG Broken Screen</h1>

                                    <ul class="list-inline text-center" >
                                        <li class="device-workflow" ng-repeat="model in models">
                                            <form>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                        <div class="form-group f-spacing">
                                                            <label class="form-span-color">{{ model.name }}</label>
                                                            <input type="number" min=0
                                                                   pattern="\d*"
                                                                   class="form-control text-center input-lg"
                                                                   id="work-flow-location"
                                                                   placeholder="110"
                                                                   ng-model="model.price"
                                                                   required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="submit" class="btn btn-danger" ng-click="samsungPriceSubmit(model, 'broken screen')">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>

                                </div>

                                <div class="text-center" ng-show="issue == 'faulty battery'">
                                    <h1>SAMSUNG Faulty Battery</h1>

                                    <ul class="list-inline text-center" >
                                        <li class="device-workflow" ng-repeat="model in models">
                                            <form>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                        <div class="form-group f-spacing">
                                                            <label class="form-span-color">{{ model.name }}</label>
                                                            <input type="number"
                                                                   class="form-control text-center input-lg"
                                                                   id="work-flow-location"
                                                                   placeholder="110"
                                                                   ng-model="model.price"
                                                                   required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="submit" class="btn btn-danger" ng-click="samsungPriceSubmit(model, 'faulty battery')">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>

                                <div class="text-center" ng-show="issue == 'not on'">
                                    <h1>SAMSUNG Won't Turn on</h1>

                                    <ul class="list-inline text-center" >
                                        <li class="device-workflow" ng-repeat="model in models">
                                            <form>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                        <div class="form-group f-spacing">
                                                            <label class="form-span-color">{{ model.name }}</label>
                                                            <input type="number" min=0
                                                                   pattern="\d*"
                                                                   class="form-control text-center input-lg"
                                                                   id="work-flow-location"
                                                                   placeholder="110"
                                                                   ng-model="model.price"
                                                                   required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="submit" class="btn btn-danger" ng-click="samsungPriceSubmit(model, 'not on')">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>

                                </div>

                                <div class="text-center" ng-show="issue == 'liquid damage'">
                                    <h1> SAMSUNG Liquid Damge</h1>

                                    <ul class="list-inline text-center" >
                                        <li class="device-workflow" ng-repeat="model in models">
                                            <form>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 col-sm-offset-1">
                                                        <div class="form-group f-spacing">
                                                            <label class="form-span-color">{{ model.name }}</label>
                                                            <input type="number" min=0
                                                                   pattern="\d*"
                                                                   class="form-control text-center input-lg"
                                                                   id="work-flow-location"
                                                                   placeholder="110"
                                                                   ng-model="model.price"
                                                                   required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-12 text-center">
                                                        <button type="submit" class="btn btn-danger" ng-click="samsungPriceSubmit(model, 'liquid damage')">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>