<div>
    <div class="section location-section">
        <div class="container nomapping">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div id="exTab2" class="container text-center">

                                <p class="alert alert-success" ng-show="info"> {{ info }} </p>

                                <button
                                    class="btn btn-success btn-lg"
                                    confirmed-click="servicesControl('on')"
                                    ng-confirm-click="Are you sure ?"
                                    ng-hide="show">Be Online
                                </button>
                                <button
                                    class="btn btn-danger btn-lg"
                                    confirmed-click="servicesControl('off')"
                                    ng-confirm-click="Are you sure ?"
                                    ng-show="show">Be Offline
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>