<div ng-controller="HomeController as homeController">
  <div class="full">
    <div class="container hero_image">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-jumbo">So Convenient</h2>
          <h4 >Get your phone fix anytime, anywhere you want by your local shop</h4><br><br>
          <button class="btn btn-danger" ng-click="homeController.startProcess()">Fix My Phone</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-danger">How it works</button>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="http://i.imgur.com/sBMwRWu.jpg" class="center-block img-circle img-responsive work-flow">
          <h4 class="text-center">Tell us where to meet</h4>
        </div>
        <div class="col-md-3">
          <img src="http://i.imgur.com/8Nz0gEb.png" class="center-block img-circle img-responsive work-flow">
          <h4 class="text-center">Tell us what is the device and issue</h4>
        </div>
        <div class="col-md-3">
          <img src="http://i.imgur.com/M6KEzzu.png" class="center-block img-circle img-responsive work-flow">
          <h4 class="text-center">Pick your favourite shop</h4>
        </div>
        <div class="col-md-3">
          <img src="http://i.imgur.com/vL9bDtW.jpg" class="center-block img-circle img-responsive work-flow">
          <h4 class="text-center">Make a reservation</h4>
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <div class="section front-page-pic gray-background">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>No more frustrated</h1>
          <p class="text-style">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes
          </p>
        </div>
        <div class="col-md-6">
          <img src="http://i.imgur.com/Q0QtIC9.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <div class="section front-page-pic">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="http://i.imgur.com/W37HoWS.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
          <h1>Enjoy more</h1>
          <p class="text-style">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes,
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
