<div>
    <div class="section">
        <div class="container-fluid workflow-availability">
            <div class="row">
                <div class="col-lg-12">

                    <div ng-show="loading" class="text-center"><img src="https://i.imgur.com/Ty0Mioy.gif" alt="edit" /></div>
                    <p class="text-center" style="color: red" ng-show="error">{{ error }}</p>


                    <div class="col-lg-7">
                        <div ng-show="notAvailable">
                            <h4>There is no available shop in this area at this moment.</h4>
                            <h4>Please subscribe, we will notify you as soon as any shop is available.</h4>
                            <form>
                                <div class="form-group input-lg">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                                </div>
                                <button type="submit" class="btn btn-success">Subscribe</button>
                            </form>
                        </div>



                        <div class="col-sm-12 availability-card"  ng-repeat-start="shop in shops">

                            <div class="col-sm-5 availability-image">
                                <img style="padding-top: 10px;"
                                     class="card-img-top img-responsive availability-image text-center col-lg-offset-0 col-md-offset-2
                                     col-sm-offset-0" ng-src="{{ shop.image }}" alt="Card image cap">
                            </div>

                            <div class="col-sm-7 text-center">
                                <br>
                                <b>{{ shop.name }}</b>
                                <hr>

                                <a href="https://maps.google.com?q={{ shop.address }}">{{ shop.address }}</a><br>
                                <span class="star-icon full">☆</span>{{ shop.rating }} -
                                <span class="availability-icon">Reviews: {{ shop.reviews }}</span><br><br>
                                <button class="btn btn-success" ng-click="pick(shop.id)">Book</button>
                                <br><br>
                            </div>
                        </div>
                        <div ng-repeat-end=""></div>

                    </div>

                    <div class="hidden-xs hidden-sm hidden-md col-lg-5" id="right">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom">

                            <ui-gmap-window
                                    show="map.window.show"
                                    coords="map.window.model"
                                    options="map.window.options"
                                    closeClick="map.window.closeClick()"
                                    templateUrl="'workflow/marker.html'"
                                    templateParameter="map.window.model">
                            </ui-gmap-window>

                            <ui-gmap-markers
                                    models="map.markers"
                                    coords="'self'"
                                    events="map.markersEvents"
                                    options="'options'">
                            </ui-gmap-markers>

                        </ui-gmap-google-map>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>