<div>
  <div class="section location-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
                <!--<div class="row top-step">-->
                    <!--<div class="col-md-4 text-center">-->
                        <!--<span>1</span>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 text-center">-->
                        <!--<span>1</span>-->
                    <!--</div>-->
                    <!--<div class="col-md-4 text-center">-->
                        <!--<span>1</span>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row">
                    <h1 class="text-center" style=" color: #5b6675;">Choose Your <span style="color: red;">Device</span></h1>
                    <ul class="list-inline text-center" >
                        <li class="device-workflow" ng-repeat="device in deviceNames" ng-click="devicePick(device.name)"><h3>{{ device.name }}</h3></li>
                    </ul>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>