<div>
  <div class="section location-section">
    <div class="container nomapping">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="section">
                <div class="container">
                  <div class="row">
                    <h1 class="text-center">Location</h1>
                    <div class="col-md-offset-3 col-md-6">
                        <p ng-show="alert" style="color: red;"> Please select from auto-complete and/or edit it </p>
                      <form name="locationForm">
                        <div class="form-group row">
                          <div class="col-sm-10">
                            <input name="locationInput" type="text" class="form-control" id="work-flow-location" ng-model="location" ng-autocomplete="location" placeholder="Tell us where to meet">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-offset-10 col-sm-2">
                            <button type="submit" class="btn btn-danger btn-lg" ng-disabled="location.$invalid" ng-click="next()">Next</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>