<div>
    <div class="section location-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <h1 class="text-center" style=" color: #5b6675;">What <span style="color: red;">Model?</span></h1>
                            <ul class="list-inline text-center" >
                                <li class="model-workflow text-center" ng-repeat="model in modelNames" ng-click="modelPick(model.name)"><h3>{{ model.name }}</h3></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>