<div >
    <div class="section location-section">
        <div class="container">
            <div class="row">
                <ul class="list-inline text-center" >
                    <li class="text-center"><label for="techName">Shop name</label>: {{ techName | limitTo: 40 }}</li>
                    <li class="text-center"><label for="location">Location</label>: {{ location }}</li>
                    <li class="text-center"><label for="device">Device</label>: {{ model }} - {{ color }} - {{ issue }}</li>
                    <li class="text-center"><label for="model">Price</label>: ${{ price }}</li>
                    <li class="text-center"><label for="warranty">Warranty</label>: {{ warranty }}</li>
                </ul>
                <hr>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">

                                                <h1 class="text-center">You are almost done!</h1>

                                                <span style="color: red" ng-show="error" ng-cloak> {{error}}</span><br>
                                                <div ng-show="goBackAvailability"><a ng-href="#availability" class="btn btn-danger">Pick another Shop</a></div>

                                                <form stripe-form="stripeCallback" name="checkoutForm">

                                                    <label>Email</label>
                                                    <input class="form-control" type="email" id="email" ng-model="customer_email" placeholder="contact@beconve.com" required>

                                                    <label>Phone number</label><br>
                                                    <input class="form-control input-phone" type='text' phone-input ng-model="phoneVal" placeholder="(123) 456-6789" required/><br>

                                                    <label>Card Number</label>
                                                    <input class="form-control" ng-model="number" placeholder="Card Number"
                                                           payments-format="card" payments-validate="card" name="card" required/><br>

                                                    <label>Expiration MM/YYYY</label>
                                                    <input class="form-control" ng-model="expiry" placeholder="MM/YYYY"
                                                           payments-format="expiry" payments-validate="expiry"
                                                           name="expiry" required/><br>

                                                    <label>CVC</label>
                                                    <input class="form-control" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" required/><br>

                                                    <div ng-if="checkoutForm.$invalid" class="alert alert-danger">
                                                        Error: Please correct card's information
                                                    </div>

                                                    <button type="submit" class="btn btn-success btn-lg pull-right" ng-hide="paying" ng-click="pay()">Finish Order</button>
                                                    <img src="http://i.imgur.com/Ty0Mioy.gif" class="stripe-connect-icon img-responsive" style="text-align: center" alt="" ng-show="paying">
                                                </form>
                                               
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
