<div ng-controller="reservationController">
    <div class="section location-section">
        <div class="container nomapping">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-7">

                                                <div class="form-group">
                                                    <label for="location">Location</label>
                                                    <input class="form-control" id="location" ng-model="location">
                                                </div>
                                                <div class="form-group">
                                                    <label for="device">Device</label>
                                                    <input class="form-control" id="device" ng-model="device">
                                                </div>
                                                <div class="form-group">
                                                    <label for="model">Model</label>
                                                    <input class="form-control" id="model" ng-model="model">
                                                </div>
                                                <div class="form-group">
                                                    <label for="color">Color</label>
                                                    <input class="form-control" id="color" ng-model="color">
                                                </div>
                                                <div class="form-group">
                                                    <label for="model">Price</label>
                                                    <input class="form-control" id="color" ng-model="price">
                                                </div>
                                                <div class="form-group">
                                                    <label for="warranty">Warranty</label>
                                                    <input class="form-control" id="warranty" ng-model="warranty">
                                                </div>
                                            </div>
                                            <div class="col-md-5">Hi</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>