<div >
    <div class="section location-section">
        <div class="container nomapping">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul ng-repeat="error in errors" class="list-group">
                                                <li class="list-group-item list-group-item-action list-group-item-danger">{{ error }}</li>
                                            </ul>

                                            <div class="col-md-6">

                                                <fieldset disabled>
                                                    <div class="form-group">
                                                        <label for="location">Location</label>
                                                        <input class="form-control" id="location" ng-model="location">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="device">Device</label>
                                                        <input class="form-control" id="device" ng-model="device">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="model">Model</label>
                                                        <input class="form-control" id="model" ng-model="model">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="color">Color</label>
                                                        <input class="form-control" id="color" ng-model="color">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="issue">Issue</label>
                                                        <input class="form-control" id="issue" ng-model="issue">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="model">Price</label>
                                                        <input class="form-control" id="price" ng-model="price">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="warranty">Warranty</label>
                                                        <input class="form-control" id="warranty" ng-model="warranty">
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div class="col-md-6">
                                                <form name="paymentForm" id="checkout">
                                                    <div class="form-group">
                                                        <label for="warranty">Email</label>
                                                        <input type="email"
                                                               class="form-control"
                                                               name="email"
                                                               id="inputEmail"
                                                               ng-model="email"
                                                               ng-required="true"><br>
                                                        <span class="list-group-item list-group-item-action list-group-item-danger"
                                                              ng-show="paymentForm.email.$error.required">
                                                            Valid email is required</span>
                                                        <span class="list-group-item list-group-item-action list-group-item-danger"
                                                              ng-show="paymentForm.$error.email">
                                                            Valid email is required</span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="warranty">Phone</label>
                                                        <input type="number"
                                                               class="form-control"
                                                               ng-minlength="10"
                                                               ng-maxlength="10"
                                                               id="inputPhone"
                                                               name="phone"
                                                               placeholder="Ex: 1234567890"
                                                               ng-model="user.phone"
                                                               ng-required="true"><br>

                                                        <span class="list-group-item list-group-item-action list-group-item-danger"
                                                              ng-show="paymentForm.phone.$error.required ||
                                                                       paymentForm.phone.$error.number">
                                                                       Valid phone number is required
                                                        </span>
                                                        <span class="list-group-item list-group-item-action list-group-item-danger"
                                                              ng-show="((
                                                                        paymentForm.phone.$error.minlength ||
                                                                       paymentForm.phone.$error.maxlength) &&
                                                                       paymentForm.phone.$dirty) ">
                                                                       phone number should be 10 digits
                                                        </span>
                                                    </div>

                                                    <div id="payment-form"></div>
                                                    <loading></loading>
                                                    <input type="submit" class="btn btn-success btn-lg" ng-hide="success" value="Reserve">
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>