<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">

    <br><br>
    <div class="jumbotron">
        <div class="container">
            <br><br>
            <h1 style="color: white;">{{ $ctrl.shop.name }}</h1>
            <br><br><br><br>
        </div>
    </div>

    <div class="add-margin"></div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-offset-1">

                    <p style="color: red;" ng-if="$ctrl.error">{{ $ctrl.error }}</p>

                    <p>I have over seven years in the business and I'm passionate about my work. I will make sure your walking out in style and satisfied. When you sit in my chair your nail right belong to me.</p>
                    <hr>

                    <!--         <h4 class="text-center">Cancellation Policy</h4>
                            <p>You can call the shop to cancel your appointment any time. Otherwise, you will be charged $10 for no shows.</p> -->
                    <!--<hr>-->

                    <div class="row">
                        <div class="col-sm-8">
                            <b>Nails</b>
                            <p>Up for 60 minutes</p>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success book" ng-click="$ctrl.open()">Book</button>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-8">
                            <b>Pedicure</b>
                            <p>Up for 60 minutes</p>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success book" ng-click="$ctrl.open()">Book</button>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-8">
                            <b>Wax</b>
                            <p>Up for 20 minutes</p>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-success book" ng-click="$ctrl.open()">Book</button>
                        </div>
                    </div>
                    <hr>

                </div>
                <div class="col-sm-4 text-center">
                    <a href="https://maps.google.com?q={{ $ctrl.shop.address }}"><img class="img-responsive text-center" src="https://maps.googleapis.com/maps/api/staticmap?center={{ $ctrl.shop.latitude }},{{ $ctrl.shop.longitude }}&zoom=17&size=390x200&maptype=roadmap
    &markers=color:red%7Ccolor:red%7Clabel:%7C{{ $ctrl.shop.latitude}},{{ $ctrl.shop.longitude }}&sensor=false"></a><br><br>

                    <a href="https://maps.google.com?q={{ $ctrl.shop.address }}">{{ $ctrl.shop.address }}</a><br>
                    <a href="tel:{{$ctrl.shop.phone}}">{{$ctrl.shop.phone}}</a>

                    <hr>

                    <h4 class="text-center">Business Hours</h4>
                    <div class="row">
                        <ul>
                            <li ng-repeat="hour in $ctrl.format_bussiness_hour" ng-bind-html-unsafe="opt.text", class="" style="list-style-type: none;">
                                {{ hour.day }}: {{ hour.hour}}
                            </li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <script type="text/ng-template" id="myModalContent.html">
        <div ng-show="reservationProcess">
            <div class="modal-header">
                <div class="col-sm-1">
                    <span style="font-size: 2em" ng-click="$ctrl.cancel()">X</span>
                </div>
                <div class="col-sm-11">
                    <p class="modal-title text-center" id="modal-title">SELECT A TIME</p>
                </div>

            </div>
            <div class="modal-body" id="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateSelected" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>

                <hr>
                <p class="text-center" style="color: red" ng-if="$ctrl.timeSlotMessage">{{ $ctrl.timeSlotMessage }}</p>
                <ul>
                    <li style="display: inline;" ng-repeat="row in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"><button class="btn btn-default time-slot" ng-click="timeSlot(row)">{{row}}</button></li>
                </ul>

                <!--<ul uib-pager total-items="totalItems" max-size="maxSize" items-per-page="viewby" ng-model="currentPage"></ul>-->
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="viewby" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
                <hr>
                <div ng-if="timeSlotSelected">
                    <p class="text-center" style="font-size: 20px" > {{ scheduleTime }} </p>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                <button class="btn btn-success" type="button" ng-click="$ctrl.goToPayment()">Next</button>
            </div>
        </div>

        <div ng-hide="reservationProcess">
            <div class="modal-header">
                <div class="col-sm-1">
                    <span style="font-size: 2em" ng-click="$ctrl.backToDateSelection()">&#8592;</span>
                </div>
                <div class="col-sm-11">
                    <p class="modal-title text-center" id="modal-title">Add the Card</p>
                </div>

            </div>
            <div class="modal-body" id="modal-body">
                <p class="text-center">You only get charge if you don't cancel the appointment</p>
                <form stripe-form="stripeCallback" name="checkoutForm">

                    <!--<label>Name</label><br>-->
                    <!--<input class="form-control" type='text' ng-model="customerName" placeholder="John Smith"/><br>-->

                    <!--<label>Phone number</label><br>-->
                    <!--<input class="form-control input-phone" type='text' phone-input ng-model="customerPhone" placeholder="(123) 456-6789" required/><br>-->

                    <label>Card Number</label>
                    <input class="form-control" ng-model="number" placeholder="Card Number"
                           payments-format="card" payments-validate="card" name="card" required/><br>

                    <label>Expiration MM/YYYY</label>
                    <input class="form-control" ng-model="expiry" placeholder="MM/YYYY"
                           payments-format="expiry" payments-validate="expiry"
                           name="expiry" required/><br>

                    <label>CVC</label>
                    <input class="form-control" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" required/><br>

                    <!--<div ng-show="checkoutForm.$invalid" class="alert alert-danger">-->
                        <!--Error: Please input and correct card's information-->
                    <!--</div>-->

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-lg pull-right" ng-hide="paying" ng-click="reserve()">Book Now</button>
                    </div>

                    <img src="http://i.imgur.com/Ty0Mioy.gif" class="stripe-connect-icon img-responsive" style="text-align: center" alt="" ng-show="paying">
                </form>

            </div>

        </div>
    </script>

    <div class="modal-parent">
    </div>

    <style>
        .full button span {
            background-color: limegreen;
            border-radius: 32px;
            color: black;
        }
        .partially button span {
            background-color: orange;
            border-radius: 32px;
            color: black;
        }
    </style>
</div>
