<div>
    <div class="section location-section">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-block">
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <h1 class="app-text text-center">Thank you</h1>
                                    <h4 class="app-text text-center">Thank you very much for using BECONVE. A technican will contact you in 1 or 2 minutes.</h4>
                                    <h4 class="app-text text-center">Please give us feedback, we are working hard to provide you the best phone repair service.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> .