<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p>Hi,</p><br>

    <p><%= @customer.name %> has scheduled an appointment at <%= @appointment.start_time %>.

    <p>Thank you for using BECONVE</p>

  </body>
</html>