<div>
  <div class="home-full">
    <div class="container hero_image">
      <div class="row">
        <div class="col-md-12 text-center hero">
          <h2 class="text-jumbo">BE CONVENIENT</h2>

          <h2>Discover & book beauty appointments 24/7</h2><br>
            <h3>No more waiting. Save more time</h3>
            <br>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <form name="locationForm" autocomplete="off">
                  <div class="input-group">
                    <input name="cities"
                           id="cities"
                           type="text"
                           placeholder="Enter state and select a city"
                           ng-model="selected"
                           uib-typeahead="city as city.name for city in cities | filter:$viewValue | limitTo:8"
                           class="form-control input-lg">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-danger btn-lg pull-right" ng-click="next()"> Search </button>
                    </span>
                  </div>
                </form>

                <textarea ng-model="theText" rows="10" cols="40"></textarea>
                <input type="button" ng-click="sayIt()" value="Say it!" />

              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="section">
    <div class="container text-center">
      <h1>Browse & Discover</h1><br><br>
        <div class="row">
          <div class="col-md-4">
            <img src="http://i.imgur.com/A1hjoM0.jpg"
                 class="img-responsive"><br>
          </div>
          <div class="col-md-4">
            <img src="http://i.imgur.com/PnNvYe7.jpg"
                 class="img-responsive"><br>
          </div>
          <div class="col-md-4">
            <img src="http://i.imgur.com/7XOPZrt.jpg"
                 class="img-responsive"><br>
          </div>
        </div>
    </div>
  </div>

  <br><br>

  <div class="jumbotron home-owner">
    <div class="container text-center">
      <b style="color: white;font-size: 35px;">Are you the owner?</b>
      <br><br>
      <p style="color: white;">Manage your business, accept payments and grow your business using Beconve salon software.</p>
      <br>
      <a href="/host/sign_up"><button class="btn btn-danger btn-lg", style="width: 9em;">Become a Shop</button></a><br>
    </div>
  </div>


  <br><br>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <blockquote>
            <p>An entire category of entrepreneurs are building businesses around simplifying and automating those tasks</p>
            <footer>Forbes</footer>
          </blockquote>
        </div>
        <div class="col-md-6">
          <blockquote>
            <p>It allows shop owner more time on task with the creative acts they love.</p>
            <footer>Janie</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
