<div>
  <div class="full">
    <div class="container hero_image">
      <div class="row">
        <div class="col-md-12 text-center hero">
          <h2 class="text-jumbo">Worry Free</h2>
          <h3>Get your phone fix anytime, anywhere you want by a certified business</h3><br><br>
          <h3>No more waiting. Save more time</h3>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 col-md-offset-3">

                <form name="locationForm">
                  <div class="input-group">
                    <input type="text" ng-model="location" id="Autocomplete" class="form-control input-lg" ng-autocomplete="location" placeholder="Where to meet?" details="details1" options="options1"/>
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-danger btn-lg pull-right" ng-click="next()"> Next </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <p class="center" ng-show="alert" style="color: white;"> Please input location </p>

        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-danger how-it-works">How it works</button>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="col-md-3 col-md-offset-0  col-sm-5 col-sm-offset-1 ">
            <img src="https://i.imgur.com/sBMwRWu.jpg" class="center-block img-circle img-responsive work-flow">
            <h4 class="text-center">Tell us where to meet</h4>
          </div>
          <div class="col-md-3 col-sm-5">
            <img src="https://i.imgur.com/8Nz0gEb.png" class="center-block img-circle img-responsive work-flow">
            <h4 class="text-center">Tell us what is the device and issue</h4>
          </div>
          <div class="col-md-3 col-md-offset-0  col-sm-5 col-sm-offset-1">
            <img src="https://i.imgur.com/M6KEzzu.png" class="center-block img-circle img-responsive work-flow">
            <h4 class="text-center">Pick your favourite shop</h4>
          </div>
          <div class="col-md-3 col-sm-5">
            <img src="https://i.imgur.com/vL9bDtW.jpg" class="center-block img-circle img-responsive work-flow">
            <h4 class="text-center">Make a reservation</h4>
          </div>

        </div>
      </div>
    </div>
  </div>

  <br><br>
  <div class="section front-page-pic gray-background">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">

          <div class="col-md-6">
            <h1>Less frustration</h1>
            <p class="app-text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              Cum sociis natoque penatibus et magnis dis parturient montes
            </p>
          </div>
          <div class="col-md-6 col-md-offset-0 col-sm- col-sm-offset-3">
            <img src="http://i.imgur.com/Q0QtIC9.jpg" class="img-responsive">
          </div>

        </div>
      </div>
    </div>
  </div>

  <br><br>
  <div class="section front-page-pic">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">

          <div class="col-md-6 col-md-push-6">
            <h1>More joyful</h1>
            <p class="app-text">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
              Cum sociis natoque penatibus et magnis dis parturient montes,
            </p>
          </div>

          <!--Sidebar-->
          <div class="col-md-6 col-md-pull-6 col-md-offset-0 col-sm- col-sm-offset-3">
            <img src="http://i.imgur.com/W37HoWS.jpg" class="img-responsive">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
