@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "location";
@import "device";
@import "availability";
@import "host";

body {
  background: white;
  font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif!important;
}

.app-text {
  line-height: 150%;
}
.container.nomapping {
  padding: 0 !important;
  margin: 0 !important;
}

button.btn.btn-danger.btn-lg {
  background-color: red;
}

button.btn.btn-danger.btn-lg:hover {
  background-color: #ff5422;
}