@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "location";
@import "device";
@import "availability";
@import "host";
@import "reservation";
@import "model";
@import "color";

//Fullscreen Footer
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body {
  background: white;
  font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif!important;
}

.app-text {
  line-height: 150%;
}
.container.nomapping {
  padding: 0 !important;
  margin: 0 !important;
}

button.btn.btn-danger.btn-lg {
  background-color: red;
}

button.btn.btn-danger.btn-lg:hover {
  background-color: #ff5422;
}

.btn-lg, .btn-group-lg > .btn {
  width: 140px;
}

.request-flow{padding-top: 1em}

.card {
  margin-top: 2em;
}