@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "location";
@import "availability";

body {
  background: whitesmoke;
}
.container.nomapping {
  padding: 0 !important;
  margin: 0 !important;
}

button.btn.btn-danger.btn-lg {
  background-color: red;
}

button.btn.btn-danger.btn-lg:hover {
  background-color: #ff5422;
}