.angular-google-map-container { height: 100vh; }

.container-fluid.workflow-availability {
  margin-top: 6em;
  overflow: hidden;
  height:100%;
}

#left, #right{
  text-align: center;
  height:100%;
  overflow-y: scroll;
}

img.card-img-top.img-responsive.availability-image {
  height: 262px;
  width: 318px;
}

span.availability-icon.ng-binding {
  margin: 5px;
}

.col-md-6.availability-card.ng-scope {
  margin-bottom: 15px;
}

span.availability-icon.availability-border.ng-binding {
  border-right: 1px solid #b6b6b6;
  padding-right: 10px;
}