.angular-google-map-container { height: 100vh; }

.container-fluid.workflow-availability {
  margin-top: 6em;
  overflow: hidden;
  height:100%;
}

#left, #right{
  text-align: center;
  height:100%;
  overflow-y: scroll;
}

img.card-img-top.img-responsive.availability-image {
  height: 262px;
  width: 318px;
}

//span.availability-icon.ng-binding {
//  margin: 5px;
//}

.col-md-6.availability-card.ng-scope {
  margin-bottom: 15px;
}

span.availability-icon.availability-border.ng-binding {
  border-right: 1px solid #b6b6b6;
  padding-right: 2px;
}

button.btn.btn-danger {
  background-color: red;
}

//rating
.star-icon {
  color: #ffb400;
  font-size: 1.2em;
  position: relative;
  background: none;
}
.star-icon.full:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
}
.star-icon.half:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}
@-moz-document url-prefix() { /* Firefox Hack :( */
  .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}

.col-sm-12.availability-card.ng-scope {
  border: 1px solid #dbdedd;
  margin-bottom: 2em;
  padding-left: 0em;
  padding-right: 0em;
}

.col-sm-6.availability-image {
  padding-left: 0em;
  padding-right: 0em;
}

img.card-img-top.img-responsive.availability-image {
  height: 190px;
  width: 318px;
}